// sass --watch ./jeopardy/style.scss ./jeopardy/style.css --no-source-map
html, body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

:root {
    --background-image: url(../assets/wallpaperBackground.jpg);
    --font-family: "Outfit", sans-serif;

    --card-background-color: gray;

    --category-card-text-color: white;
    --card-text-color: white;
    --card-text-stroke-color: white;

    --card-border-color: white;
    --score-card-border-color: white;
    --bubble-border-color: white;

    --team-color-red: red;
    --team-color-orange: orange;
    --team-color-yellow: yellow;
    --team-color-green: green;
    --team-color-blue: blue;
    --team-color-purple: purple;
    --team-color-none: dimgray;
}

[theme="halloween"] {
    --background-image: url(../assets/halloween-shelf-seamless-background.jpg);
    --font-family: "Metal Mania", system-ui;

    --card-background-color: black;

    --team-color-red: brown;
    --team-color-orange: chocolate;
    --team-color-yellow: goldenrod;
    --team-color-green: darkolivegreen;
    --team-color-blue: midnightblue;
    --team-color-purple: rebeccapurple;
}

[theme="christmas"] {
    --background-image: url(../assets/geometric-minimal-scandinavian-christmas-trees-600nw-2353893853.webp);

    --category-card-text-color: green;
    --card-text-color: orangered;
    --card-text-stroke-color: maroon;
    --card-background-color: yellowgreen;
    --card-border-color: green;

    .snow-container {
        display: block;
    }
}

body {
    background-image: var(--background-image);
    font-family: var(--font-family);
}

.fa-candy-cane {
    background-color: red;
    color: white;
    -webkit-text-stroke: 0;
}

.fa-bells {
    background-color: orange;
    color: yellow;
    -webkit-text-stroke: 0;
}

.fa-stars {
    background-color: yellow;
    color: goldenrod;
    -webkit-text-stroke: 0;
}

.fa-tree-christmas {
    background-color: green;
    color: greenyellow;
    -webkit-text-stroke: 0;
}

.fa-snowflakes {
    background-color: blue;
    color: skyblue;
    -webkit-text-stroke: 0;
}

.fa-gifts {
    background-color: purple;
    color: mediumpurple;
    -webkit-text-stroke: 0;
}

.fa-xmark {
    color: dimgray;
}

.start-game-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 96px;
    font-weight: 600;
    background-color: var(--card-text-color);
    color: var(--card-background-color);

    padding: 24px;
    border-radius: 8px;
    z-index: 100;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;

    &.control-main {
        padding: 24px;
        box-sizing: border-box;
    }

    .controls {
        flex: 1;
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 3fr 2fr;
        grid-auto-flow: column;
        margin-top: 24px;
        gap: 24px;
        overflow: auto;
    }
}

.teams {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: 8px;
    padding: 16px 32px;

}

.team-score {
    border: 3px solid var(--score-card-border-color);
    border-radius: 8px;
    padding: 16px 48px;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    gap: 8px;    
    
    .team-score-content {
        -webkit-filter: invert(100%);
        filter: invert(100%);
        font-weight: 600;

        &:before {
           content: '$';
       }
    }

    &.current-turn {
        box-shadow: 8px 8px 8px 0px #2e2e2e;
        transform: scale(1.25);
        z-index: 1;
        transition: all 1s;
    }

    &:not(.current-turn) {
        transition: all 1s;
    }
}

[data-team-color="red"] {
    background-color: var(--team-color-red) !important;
    color: var(--team-color-red) !important;
}

[data-team-color="orange"] {
    background-color: var(--team-color-orange) !important;
    color: var(--team-color-orange) !important;
}

[data-team-color="yellow"] {
    background-color: var(--team-color-yellow) !important;
    color: var(--team-color-yellow) !important;
}

[data-team-color="green"] {
    background-color: var(--team-color-green) !important;
    color: var(--team-color-green) !important;
}

[data-team-color="blue"] {
    background-color: var(--team-color-blue) !important;
    color: var(--team-color-blue) !important;
}

[data-team-color="purple"] {
    background-color: var(--team-color-purple) !important;
    color: var(--team-color-purple) !important;
}

[data-team-color="none"] {
    background-color: var(--team-color-none) !important;
    color: var(--team-color-none) !important;
}

.board {
    flex: 1;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: 8px;
    padding: 16px 32px;
    position: relative;

    .category-container {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 8px;

        .category-label,
        .card {
            text-align: center;
            background-color: var(--card-background-color);
            border: 3px solid var(--card-border-color);
            border-radius: 8px;
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            justify-content: center;
            align-content: center;  
        }
        
        .category-label{
            font-size: 36px;
            font-weight: 600;
            letter-spacing: 0.25em;
            padding: 16px 4px 16px 16px;
            color: var(--category-card-text-color);
        }

        .card {
            color: var(--card-text-color);
            -webkit-text-stroke: 2px var(--card-text-stroke-color);
            font-weight: 600;
            
            .card-value {
                font-size: 56px;
                
                &:before {
                    content: '$';
                }
            }
            
            &.show-question {
                .card-back .question-text {
                    display: block;
                }
            }
            
            .card-back {
                transform: rotateY(180deg);
                -webkit-text-stroke-width: 0.5px;
                display: none;
                flex-direction: column;
                padding: 16px;
                border-radius: 6px;
                position: relative;
                height: 100%;
                width: 100%;
                justify-content: center;
                box-sizing: border-box;

                [team-buzzed] {
                    width: 24px;
                    padding: 16px;
                    border-radius: 50%;
                    margin: auto;
                    aspect-ratio: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                }

                .answer-text {
                    flex: 1;
                }

                .answer-text,
                .question-text {
                    font-size: 1.125em;
                    letter-spacing: 0.125em;
                }

                .question-text {
                    display: none;
                    border-top: 1px solid var(--card-text-color);
                    margin-bottom: 48px;
                }
            }

            &.card-open {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(3.5) rotateY(180deg);
                width: 25%;
                height: 24%;
                transition: transform 1s linear;
                z-index: 1;

                .card-value {
                    display: none;
                    animation: disappear50 1s linear;
                }

                .card-back {
                    display: flex;
                    animation: appear50 1s linear;
                }

                &:has(.daily-double),
                &:has(.final-jeopardy) {
                    .card-back {
                        display: none;
                        animation: none;
                    }
                }

                .daily-double,
                .final-jeopardy {
                    display: block;
                }
            }

            &[data-disabled] {
                .card-value {
                    opacity: 10%;
                    color: var(--card-text-color);
                    pointer-events: none;
                }
            }
        }
    }    
}

.final-jeopardy-wager-values {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 8px;
    bottom: 60px;
    left: 50%;
    transform: translate(-51%, 0);
    width: 90%;
}

.final-jeopardy-wager-value {
    &::before {
        content:'$';
        margin-right: 4px;
    }
}

.card[data-id="final-jeopardy-card"] {
    .team-bubbles .team-bubble {
        color: white !important;
        -webkit-text-stroke-width: 0;
        min-height: 36px;
        padding: 4px;
        align-items: center;

        &[data-team-color="none"] {
            display: none;
        }

        &:before {
            content: '$';
        }

        &:after {
            content: '?';
        }

        &.show-wager {
            opacity: 1 !important;

            &:after {
                content: attr(data-wager);
            }
        }
    }
}

.team-bubbles {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 8px;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%, 0);
    
    .team-bubble {
        opacity: 50%;
        aspect-ratio: 1;
        border: 3px solid var(--bubble-border-color);
        border-radius: 50%;
        display: flex;
        box-sizing: border-box;

        .fa-xmark {
            color: white;
            font-size: 2em;
            margin: auto;
        }
    }
}

[data-scoring-team="red"] {
    .team-bubbles .team-bubble[data-team-color="red"] {
        opacity: 100%;
    }
}

[data-scoring-team="orange"] {
    .team-bubbles .team-bubble[data-team-color="orange"] {
        opacity: 100%;
    }
}

[data-scoring-team="yellow"] {
    .team-bubbles .team-bubble[data-team-color="yellow"] {
        opacity: 100%;
    }
}

[data-scoring-team="green"] {
    .team-bubbles .team-bubble[data-team-color="green"] {
        opacity: 100%;
    }
}

[data-scoring-team="blue"] {
    .team-bubbles .team-bubble[data-team-color="blue"] {
        opacity: 100%;
    }
}

[data-scoring-team="purple"] {
    .team-bubbles .team-bubble[data-team-color="purple"] {
        opacity: 100%;
    }
}

[data-scoring-team="none"] {
    .team-bubbles .team-bubble[data-team-color="none"] {
        opacity: 100%;
    }
}

hr {
    margin: 0;
}

.final-jeopardy,
.daily-double {
    display: none;
    transform: rotateY(180deg);
    animation: appear50 1s linear;
    color: var(--card-text-color);
    font-size: 64px;
}

.board .category-container .card:has(.final-jeopardy).card-open .card-back {
    display: none;
}

.board .category-container .card:has(.final-jeopardy) .card-value {
    display: none;
}

.category-selects {
    position: relative;
}

.last-team {
    height: 128px;
    border-radius: 24px;
    width: 48px;
    position: absolute;
    top: 24px;
}

.control-card {
    text-align: center;
    background-color: var(--card-background-color);
    color: var(--card-text-color);
    text-shadow: -1px 0 var(--card-text-stroke-color), 0 1px var(--card-text-stroke-color), 1px 0 var(--card-text-stroke-color), 0 -1px var(--card-text-stroke-color);
    border: 3px solid var(--card-border-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    padding: 16px;

    .select-group {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 16px;

        h1 {
            text-align: right;
            margin: auto 0;
        }
        
        select {
            margin: auto 0;
        }
    }

    h1 {
        font-size: 48px;
        margin: 0;
    }

    select {
        padding: 3px;
        border-radius: 3px;
        margin: auto 0;
        color: var(--card-text-color);
        background-color: dimgray;
        font-family: var(--font-family);
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        font-size: 48px;

        &:active,
        &:focus,
        &:hover {
            outline: none;
        }

        option {
            font-size: 48px;
            color: var(--card-text-color);
            background-color: var(--card-background-color);

            &.q-completed {
                background-color: gainsboro;
                color: lightgray
            }
        }
    }

    &.control-qna:empty {
        &:after {
            content: 'Select a question above...';
            font-size: 48px;
            text-align: center;
            font-weight: 600;
        }
    }

    .qna {
        display: flex;
        flex-direction: column;
        gap: 16px;
        text-align: center;
        justify-content: center;
        margin-bottom: auto;
        position: relative;
        height: 100%;
        
        .cat-n-val {
            font-size: 48px;
            display: flex;
            gap: 8px;
            justify-content: center;
            font-weight: 600;
            color: var(--card-background-color);
            background-color: var(--card-text-color);
        }

        .answer-text {
            font-size: 56px;
        }
        
        .question-text {
            font-size: 48px;
            opacity: 0.5;
            margin: 0 auto auto auto;
            width: fit-content;
            padding: 16px;
            border-radius: 8px;

            &:hover {
                opacity: 1;
                cursor: pointer;
            }

            &.question-answered {
                opacity: 1;
                color: var(--card-background-color);
                background-color: var(--card-text-color);
            }
        }

        .team-radios {
            display: flex;
            gap: 8px;
            margin: 0 auto;
            
            label {
                height: 56px;
                aspect-ratio: 1;
                border-radius: 50%;
                border: 3px solid var(--bubble-border-color);

                input {
                    appearance: none;
                    position: absolute;
                }

                &[data-team-color="none"]:after {
                    font-family: "Font Awesome 6 Pro";
                    content: "\f00d";
                    color: white;
                    font-size: 48px;
                    font-weight: 600;
                    display: flex;
                    justify-content: center;
                    margin-top: 4px;
                }

                &:has(input:not(:checked)) {
                    opacity: 0.5;
                }
            }
        }
    }

    .final-header {
        display: flex;
        gap: 16px;
        margin: 0 auto;
    }

    .final-jeopardy-inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 16px;
        margin: auto 0;

        div {
            border-radius: 8px;

            select {
                width: 100%;
                background-color: transparent;
                -webkit-filter: invert(100%);
                filter: invert(100%);
                
                color: inherit;
            }
        }
    }

    button {
        font-family: var(--font-family);
        border-radius: 8px;
        color: var(--card-background-color);
        background-color: var(--card-text-color);
        border: none;
        font-size: 48px;
    }
}

.buzzed-container {
    display: flex;
    gap: 8px;
    min-height: 60px;
    justify-content: center;

    .team-buzzed-group:not(.final-correct) [team-buzzed] {
        opacity: 0.5;
    }
}

@keyframes disappear50 {
    0% {
        display: block;
    }
    50% {
        display: none;
    }
    100% {
        display: none;
    }
}

@keyframes appear50 {
    0% {
        display: none;
    }
    50% {
        display: none;
    }
    100% {
        display: flex;
    }
}

  @function random_range($min, $max) {
    $rand: random();
    $random_range: $min + floor($rand * (($max - $min) + 1));
    @return $random_range;
  }
  
  .snow-container {
    display: none;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
  }

  .snow {
    $total: 200;
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    z-index: 100;
  
    @for $i from 1 through $total {
      $random-x: random(1000000) * 0.0001vw;
      $random-offset: random_range(-100000, 100000) * 0.0001vw;
      $random-x-end: $random-x + $random-offset;
      $random-x-end-yoyo: $random-x + calc($random-offset / 2);
      $random-yoyo-time: calc(random_range(30000, 80000) / 100000);
      $random-yoyo-y: $random-yoyo-time * 100vh;
      $random-scale: random(10000) * 0.0001;
      $fall-duration: random_range(10, 30) * 1s;
      $fall-delay: random(30) * -1s;
  
      &:nth-child(#{$i}) {
        opacity: random(10000) * 0.0001;
        transform: translate($random-x, -10px) scale($random-scale);
        animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
      }
  
      @keyframes fall-#{$i} {
        #{percentage($random-yoyo-time)} {
          transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
        }
  
        to {
          transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
        }
      }
    }
  }
  
  .ui-wheel-of-fortune {
    --_items: 6;
    all: unset;
    aspect-ratio: 1 / 1;
    container-type: inline-size;
    direction: ltr;
    display: grid;
    width: 450px;
    box-sizing: border-box; 

    position: absolute;
    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    * { box-sizing: border-box; }

    &::after {
        aspect-ratio: 1/cos(30deg);
        background-color: crimson;
        clip-path: polygon(50% 100%,100% 0,0 0);
        content: "";
        height: 4cqi;
        position: absolute;
        place-self: start center;
        scale: 1.4;
    }
  
    & > * { position: absolute; }
  
    button {
        aspect-ratio: 1 / 1;
        background: hsla(0, 0%, 100%, .8);
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        font-size: 5cqi;
        place-self: center;
        width: 20cqi;
    }
  
    ul {
        all: unset;
        clip-path: inset(0 0 0 0 round 50%);
        display: grid;
        inset: 0;
        place-content: center start;
    
        li {
            align-content: center;
            aspect-ratio: 1 / calc(2 * tan(180deg / var(--_items)));
            background: hsl(calc(360deg / var(--_items) * calc(var(--_idx))), 100%, 75%);
            clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
            display: grid;
            font-size: 5cqi;
            grid-area: 1 / -1;
            padding-left: 1ch;
            rotate: calc(360deg / var(--_items) * calc(var(--_idx) - 1));
            transform-origin: center right;
            user-select: none;
            width: 50cqi;

            &:nth-of-type(1) { --_idx: 1; }
            &:nth-of-type(2) { --_idx: 2; }
            &:nth-of-type(3) { --_idx: 3; }
            &:nth-of-type(4) { --_idx: 4; }
            &:nth-of-type(5) { --_idx: 5; }
            &:nth-of-type(6) { --_idx: 6; }

            i {
                font-size: 86px;
                transform: rotate(90deg);
                width: fit-content;
                padding-bottom: 36px;
            }
        }
    }
  }