@charset "UTF-8";
body { 
    margin: 0; 
    width: 100vw; 
    height: 100vh; 
    display: flex;

    * {
        box-sizing: border-box;
    }
}
  
.main {
border: 5px solid magenta;
    flex: 1; 
    position: relative;
    overflow-y: auto;
}
  
canvas { 
border: 5px solid blue;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: attr(data-adj-canvas-height type(<length>), 100%);
}

img {
	display: none;
}
