@charset "UTF-8";
body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;

	* {
		box-sizing: border-box;
	}
}

.main {
	flex: 1;
	border: 5px solid magenta;
	width: 100%;
	overflow-y: auto;
}

canvas {
	width: 100%;
	height: attr(data-adj-canvas-height type(<length>), 100%);
	border: 5px solid blue;
}

img {
	display: none;
}
