html {
    height: 100vh;
}

body {
    height: 100%;
    margin: 0;
    background-color: cornsilk;
}

.main.main-control {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

.page-header {
    width: 100%;
    padding-top: 24px;
    background-color: darkseagreen;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    
    .page-title {
        position: relative;
    }
}

.section-selections {
    display: flex;

    .section-btn {
        position: relative;
        width: -webkit-fill-available;
        background-color: darkblue;
        border: none;
        padding: 12px;
        font-size: 24px;
        color: white;
        display: flex;
        gap: 16px;
        justify-content: center;
        opacity: .75;

        & > * {
            margin: auto 0;
        }
        
        &.section-active {
            background-image: url('https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExdTlncGxlaTM5NmJscHFtMG05NWJiZzY0OXhsbGk3dmc4Z3g4YWRuZyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/T2J86H6QVTHoDnysnW/giphy.gif');
            opacity: 1;
        }
    }
}

.page-title-text {
    margin: 0 auto 12px auto;
    font-family: "Mystery Quest", Tofu;
    font-weight: 400;
    font-size: 50px;
    width: fit-content;
    color: firebrick;
    background-color: darkseagreen;
}

.candy-cane,
.holly {
    position: absolute;
}

.candy-cane {
    height: 60px;
    left: -10%;
    top: -20%;
    transform: rotate(30deg);
}

.holly {
    height: 100px;
    right: -24%;
    bottom: -15%;
    transform: rotate(-90deg);
}

.page {
    height: 100%;
    width: 100%;
    display: flex;
}

.list-collection {
    box-shadow: 0 4px 8px #0000003D;
    width: 25%;
}

.list-content {
    width: 75%;
}

.display-none {
    display: none;
}

.section-content {
    height: -webkit-fill-available;

    section {
        height: 100%;
    }
}

.card {
    box-shadow: 0 4px 8px #0000003D;
    border: 1px solid #0000003D;
    margin: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.people-card-row {
    display: flex;
    justify-content: space-between;
    width: 100%;

    textarea {
        width: 100%;
    }
}

.people-card-name {
    font-size: 24px;
    font-weight: 600;
    color: firebrick;
}

.people-card-budget-group {
    display: flex;
}

.people-card-address {
    display: flex;
    gap: 4px;

    & > * {
        &:after {
            content: ',';
        }
    
        &:last-child::after {
            content: '';
        }
    }

}